/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-family: 'Bliss Pro';
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  background-color: #141414;
  font-family: 'Bliss Pro';
  color: white;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  min-height: 144px;
  padding: 57px 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.header__container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  width: 30px;
  height: 30px;
}

.header__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 4.86vw;
     -moz-column-gap: 4.86vw;
          column-gap: 4.86vw;
}

.header__nav-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

.header .menu-icon {
  display: none;
  position: relative;
  width: 32px;
  height: 24px;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header .menu-icon::before {
  content: "";
  position: absolute;
  top: 0;
  background-color: azure;
  width: 100%;
  height: 3px;
  -webkit-transition: all 1.2s;
  -o-transition: all 1.2s;
  transition: all 1.2s;
}

.header .menu-icon span {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: azure;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.header .menu-icon::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: azure;
  width: 100%;
  height: 3px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}

.header .menu-icon.active::before {
  top: 47%;
  -webkit-transform: rotate(43deg);
      -ms-transform: rotate(43deg);
          transform: rotate(43deg);
}

.header .menu-icon.active::after {
  bottom: 40%;
  -webkit-transform: rotate(-43deg);
      -ms-transform: rotate(-43deg);
          transform: rotate(-43deg);
}

.header .menu-icon.active span {
  display: none;
}

@media (max-width: 768px) {
  .header {
    min-height: 90px;
    padding: 30px 0;
  }
  .header__container {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 492px) {
  .header .menu-icon {
    display: block;
  }
  .header__nav {
    display: none;
    left: 0;
    padding: 0;
    width: 100vw;
    height: 80%;
    position: fixed;
    top: 90px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: rgba(49, 49, 49, 0.99);
    row-gap: 40px;
    padding-top: 120px;
  }
  .header__nav-item {
    font-size: 32px;
  }
  .header__nav_active {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
}

.promo {
  padding-top: 180px;
  background: url("../img/promo/promo-bg.png") center center/cover no-repeat;
  min-height: 950px;
  margin-bottom: 85px;
}

.promo__button {
  margin-bottom: 43px;
}

.promo__title {
  max-width: 558px;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 43px;
}

.promo__title span {
  font-size: 96px;
  line-height: 91.1px;
}

.promo__subtitle {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  opacity: 0.5;
  max-width: 519px;
  margin-bottom: 84px;
}

@media (max-width: 768px) {
  .promo {
    padding-top: 140px;
  }
  .promo__button {
    margin: 0 auto;
    margin-bottom: 26px;
  }
  .promo__title {
    font-size: 42px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .promo__title span {
    font-size: 74px;
  }
  .promo__subtitle {
    max-width: 420px;
    font-size: 20px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  }
}

@media (max-width: 492px) {
  .promo {
    padding-top: 100px;
  }
  .promo__button {
    margin: 0 auto;
    margin-bottom: 23px;
  }
  .promo__title {
    text-align: center;
    font-size: 32px;
  }
  .promo__title span {
    font-size: 48px;
  }
  .promo__subtitle {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 42px;
    max-width: 320px;
    font-size: 20px;
    opacity: 0.8;
  }
}

.button {
  background: #F58D56;
  -webkit-border-radius: 27px;
          border-radius: 27px;
  width: 100%;
  max-width: 292px;
  height: 91px;
  font-weight: 800;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FEFEFE;
  display: block;
  text-decoration: none;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.button_red {
  background: #F55656;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  width: 100%;
  max-width: 310px;
  height: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 116.66667%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.button_sm {
  width: 100%;
  max-width: 247px;
  height: 79px;
  font-size: 20px;
  line-height: 24px;
}

.button_v-sm {
  width: 100%;
  max-width: 225px;
}

.news {
  min-height: 456px;
  padding-bottom: 135px;
}

.news .container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.news__title {
  margin-top: 24px;
}

.news__subtitle {
  margin-bottom: 48px;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.news__desc {
  margin-bottom: 70px;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #D9D9D9;
  opacity: 0.5;
  max-width: 456px;
}

.swiper {
  width: 745px;
  height: 456px;
}

.swiper img {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 0 10px;
  width: 335px;
  height: 402px;
}

.swiper-slide-active img {
  width: 380px;
  height: 456px;
}

.swiper-button-next {
  width: 68px;
  height: 68px;
  left: 0;
}

.swiper-button-next::after {
  width: 68px;
  height: 68px;
  content: '';
  background: url("../img/news/button-back.svg");
}

.swiper-rtl .swiper-button-next:after {
  content: '';
}

@media (max-width: 1200px) {
  .news .swiper-button-next {
    display: none;
  }
  .news .swiper {
    max-width: 1200px;
    width: 100%;
  }
  .news .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .news__title {
    max-width: 100%;
    text-align: center;
  }
  .news__subtitle {
    max-width: 100%;
    text-align: center;
  }
  .news__desc {
    max-width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .news .button {
    margin: 0 auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .news__subtitle {
    font-size: 38px;
    margin-bottom: 24px;
  }
  .news__desc {
    font-size: 18px;
    margin-bottom: 44px;
  }
}

@media (max-width: 492px) {
  .swiper-slide-active img {
    width: 300px;
    height: 400px;
  }
}

.title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 150%;
  text-transform: uppercase;
  color: #FFFFFF;
}

.title_h1 {
  max-width: 558px;
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 43px;
}

.title_h1 span {
  font-size: 96px;
  line-height: 91.1px;
}

@media (max-width: 768px) {
  .title {
    font-size: 24px;
  }
  .title_h1 {
    font-size: 42px;
  }
  .title_h1 span {
    font-size: 74px;
  }
}

@media (max-width: 492px) {
  .title {
    font-size: 18px;
  }
  .title_h1 {
    font-size: 32px;
  }
  .title_h1 span {
    font-size: 48px;
  }
}

.benefits {
  padding-bottom: 82px;
}

.benefits__card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 30px;
     -moz-column-gap: 30px;
          column-gap: 30px;
  row-gap: 30px;
}

.benefits__card:not(:last-child) {
  margin-bottom: 135px;
}

.benefits__card_reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.benefits__card_reverse .benefits__title {
  text-align: right;
}

.benefits__card_reverse .benefits__desc {
  text-align: right;
}

.benefits__img img {
  max-width: 610px;
  width: 100%;
  height: auto;
}

.benefits__title {
  font-weight: 500;
  font-size: 45px;
  line-height: 120%;
  max-width: 565px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.benefits__desc {
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #D9D9D9;
  opacity: 0.5;
  max-width: 565px;
}

@media (max-width: 960px) {
  .benefits__title {
    font-size: 32px;
  }
  .benefits__desc {
    font-size: 18px;
  }
}

@media (max-width: 768px) {
  .benefits__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .benefits__card_reverse .benefits__title {
    text-align: center;
  }
  .benefits__card_reverse .benefits__desc {
    text-align: center;
  }
  .benefits__card:not(:last-child) {
    margin-bottom: 70px;
  }
  .benefits__title {
    text-align: center;
  }
  .benefits__desc {
    text-align: center;
  }
}

@media (max-width: 492px) {
  .benefits__title {
    font-size: 26px;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }
  .benefits__desc {
    font-size: 14px;
  }
}

.cards {
  padding-bottom: 50px;
}

.cards__title {
  margin-bottom: 82px;
  text-align: center;
  font-size: 45px;
  line-height: 54px;
}

.cards .container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.cards__img img {
  max-width: 610px;
  width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .cards__title {
    font-size: 32px;
    margin-bottom: 32px;
  }
  .cards__img {
    grid-column: span 2;
    -ms-grid-column-align: center;
        justify-self: center;
  }
}

.bracelets {
  min-height: 500px;
  padding: 0 15px;
}

.bracelets .container {
  text-align: center;
  position: relative;
}

.bracelets .container img {
  position: absolute;
  top: 0;
  right: 50%;
  -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
          transform: translateX(50%);
  max-width: 980px;
  width: 100%;
  height: auto;
  z-index: 10;
}

@media (max-width: 900px) {
  .bracelets {
    min-height: 420px;
  }
}

@media (max-width: 768px) {
  .bracelets {
    min-height: 320px;
  }
}

@media (max-width: 620px) {
  .bracelets {
    min-height: 220px;
  }
}

@media (max-width: 492px) {
  .bracelets {
    min-height: 150px;
  }
}

@media (max-width: 392px) {
  .bracelets {
    min-height: 110px;
  }
}

.sale {
  min-height: 628px;
  padding-bottom: 80px;
}

.sale .container {
  background: url("../img/sale/sale-bg.svg") center center/cover no-repeat;
  min-height: 628px;
  position: relative;
}

.sale__body {
  margin: 0 auto;
  max-width: 756px;
  padding-top: 140px;
}

.sale__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 18px;
}

.sale__price {
  font-weight: 400;
  font-size: 36px;
  line-height: 119.44444%;
  text-align: center;
  color: #0F1F1C;
  opacity: 0.5;
}

.sale__sale {
  font-weight: 800;
  font-size: 32px;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
  color: #F55656;
  max-width: 260px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.sale__sale span {
  font-size: 96px;
  line-height: 119.79167%;
}

.sale__button {
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 620px) {
  .sale__title {
    font-size: 32px;
  }
  .sale__price {
    font-size: 26px;
  }
  .sale__sale {
    max-width: 170px;
  }
  .sale__sale span {
    font-size: 64px;
  }
}

.footer {
  padding-bottom: 90px;
}

.footer__title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 80px;
}

.footer .button {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 88px;
}

.footer__nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 832px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}

.footer nav {
  max-width: 427px;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}

.footer__nav-item {
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  text-decoration: none;
}

@media (max-width: 410px) {
  .footer__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
  }
  .footer nav {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.665);
  top: 0;
  left: 0;
  z-index: 1000000;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .8s ease 0s;
  -o-transition: opacity .8s ease 0s;
  transition: opacity .8s ease 0s;
}

.popup.active {
  opacity: 1;
  visibility: visible;
  overflow-y: scroll;
  overflow-x: hidden;
}

.popup.active .popup__content {
  opacity: 1;
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}

.popup__body {
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 10px;
}

.popup__content {
  background: url("../img/sale/sale-bg.svg") center center/cover no-repeat;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  max-width: 896px;
  width: 100%;
  min-height: 522px;
  opacity: 0;
  -webkit-transition: opacity .8s ease 0s;
  -o-transition: opacity .8s ease 0s;
  transition: opacity .8s ease 0s;
  -webkit-transform: translate(0px, -100%);
      -ms-transform: translate(0px, -100%);
          transform: translate(0px, -100%);
  padding: 54px 70px;
}

.popup__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 18px;
}

.popup__price {
  font-weight: 400;
  font-size: 36px;
  line-height: 119.44444%;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  text-transform: uppercase;
  color: #0F1F1C;
  opacity: 0.5;
  margin-bottom: 18px;
}

.popup__sale {
  font-weight: 800;
  font-size: 32px;
  line-height: 119.79167%;
  text-align: center;
  text-transform: uppercase;
  color: #F55656;
  max-width: 260px;
  margin: 0 auto;
  margin-bottom: 33px;
}

.popup__sale span {
  font-size: 96px;
}

.popup .button {
  margin: 0 auto;
}

.popup__form {
  max-width: 896px;
  width: 100%;
  min-height: 1553px;
  background: #FFFFFF;
  -webkit-border-radius: 60px;
          border-radius: 60px;
}

.popup__form .sas {
  color: black;
  font-size: 400px;
}

@media (max-width: 768px) {
  .popup__title {
    font-size: 32px;
  }
  .popup__price {
    font-size: 28px;
  }
  .popup__sale {
    max-width: 170px;
    font-size: 24px;
  }
  .popup__sale span {
    font-size: 64px;
  }
}

@media (max-width: 492px) {
  .popup__content {
    padding: 30px 30px;
    padding-top: 100px;
  }
  .popup__title {
    font-size: 26px;
  }
  .popup__price {
    font-size: 22px;
  }
  .popup__sale {
    max-width: 140px;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .popup__sale span {
    font-size: 48px;
  }
  .popup .button {
    max-width: 220px;
    height: 54px;
    font-size: 20px;
  }
}

.form-popup {
  padding: 58px 71.5px 70px 71.5px;
  z-index: 100;
}

.form-popup__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 120%;
  margin-bottom: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}

.form-popup__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-popup__model {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 284px;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-popup__model a {
  font-weight: 800;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #F58D56;
  text-decoration: none;
}

.form-popup__text {
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}

.form-popup__price {
  font-weight: 400;
  font-size: 25px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
}

.form-popup__price span {
  font-weight: 800;
}

.form-popup__decor {
  width: 100%;
  height: 1px;
  background: #424242;
  margin-bottom: 60px;
}

.form-popup__label {
  font-weight: 700;
  font-size: 36px;
  line-height: 119.44444%;
  text-align: center;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 26px;
}

.form-popup__body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 53px;
     -moz-column-gap: 53px;
          column-gap: 53px;
}

.form-popup label {
  display: block;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #424242;
  margin-bottom: 26px;
}

.form-popup__input {
  margin-top: 26px;
  display: block;
  max-width: 350px;
  width: 100%;
  height: 73px;
  background: #F7F7F7;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  border: none;
  padding-left: 30px;
  font-size: 26px;
}

.form-popup__input_lg {
  max-width: 753px;
}

.form-popup__label_sm {
  grid-column: span 1;
}

.form-popup__label_lg {
  grid-column: span 2;
}

.form-popup .button {
  grid-column: span 2;
  margin-top: 44px;
  border: none;
  font-weight: 800;
  font-size: 18px;
  line-height: 120%;
  text-transform: uppercase;
  color: #FFFFFF;
  max-width: 285px;
  padding: 0;
}

@media (max-width: 768px) {
  .form-popup__title {
    font-size: 36px;
  }
  .form-popup__label {
    font-size: 28px;
  }
  .form-popup__label_sm {
    grid-column: span 2;
  }
  .form-popup__model {
    max-width: 214px;
  }
  .form-popup__model a {
    font-size: 18px;
  }
  .form-popup__price {
    font-size: 18px;
  }
  .form-popup__text {
    font-size: 18px;
  }
}

@media (max-width: 492px) {
  .form-popup {
    padding: 58px 30px 50px 30px;
  }
  .form-popup__model {
    max-width: 159px;
  }
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

.js-header-scroll {
  min-height: 90px;
  height: 90px;
  padding: 35px 0;
}

.hidden {
  overflow: hidden;
}
